.profilebody{
    display: flex;
    justify-content: center;
   padding-top: 0px;
    background-color: #f8f9f8;
}
.profilebody .sub-profilebody{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blanchedalmond; */
}
.profilebody .sub-profilebody .top{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 30px;
    /* background-color: blueviolet; */
}
.profilebody .sub-profilebody .top .alert{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profilebody .sub-profilebody .top .alert span{
    color: #7A7A7A;
    font-size: 15px;
}
.profilebody .sub-profilebody .top .details{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
}
.profilebody .sub-profilebody .top .details .img-div{
    /* background-color: aqua; */
    position: relative;
    margin-right: 10px;
}
.profilebody .sub-profilebody .top .details .img-div img{
    width: 70px;
}
.profilebody .sub-profilebody .top .details .text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profilebody .sub-profilebody .top .details .text-div h5{
    margin-block-start: 0;
    margin-block-end: 3px;
    line-height: 1.6;
    color: #606060;
}
.profilebody .sub-profilebody .top .details .text-div h3{
    margin-block-start: 3px;
    margin-block-end: 0;
    line-height: 1.6;
    color: #606060;
}












.profilebody .sub-profilebody .dashboard{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: min-content;
}
.profilebody .sub-profilebody .dashboard .dashboard-nav{
    width: 20%;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}
.profilebody .sub-profilebody .dashboard .dashboard-nav ul{
    width: 400px;
    max-width: 90%;
    position: relative;
    list-style: none;
    margin: 0px 0 20px;
    padding: 25px 0;
    margin-right: 15px;
    border-right: 1px solid #cdcfd5;
}
.profilebody .sub-profilebody .dashboard .dashboard-nav ul li{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    /* margin-bottom: 10px; */
    /* background-color: aqua; */
}

.profilebody .sub-profilebody .dashboard .dashboard-nav ul li:nth-child(9){
    margin-top: 20px;
    border-top: 1px solid #cdcfd5;
}
.profilebody .sub-profilebody .dashboard .dashboard-nav ul li span{
    color: #606060;
    margin-bottom: 0;
}
.profilebody .sub-profilebody .dashboard .dashboard-nav ul li:hover{
    background-color: #007bff;
}
.profilebody .sub-profilebody .dashboard .dashboard-nav ul li:hover .span{
    color: #ffffff;
}
.profilebody .sub-profilebody .dashboard .dashboard-nav ul #sixth{
    display: block;
}
/* .profilebody .sub-profilebody .dashboard .dashboard-nav ul li:first-child .span{
    color: #ffffff;
} */










.profilebody .sub-profilebody .dashboard .dashboard-main{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .upload{
    background: #fff;
    color: #41454F;
    border: 1px solid rgba(2, 125, 255, 0.7);
    width: 96.5%;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
    display: flex;
    padding: 0 16px;
    height: 60px;
    justify-content: space-between;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .upload .alert{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .upload .alert span{
    margin-bottom: 0;
    color: #41454F;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .upload button{
    padding: 7.5px 13px;
    color: #027dff;
    background: rgba(2, 125, 255, 0.15);
    border: 1px solid rgba(2, 125, 255, 0.3);
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 0;
}

.profilebody .sub-profilebody .dashboard .dashboard-main h4 {
    color: #606060;
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 24px;
}










.profilebody .sub-profilebody .dashboard .dashboard-main .properties{
    display: flex;
    /* background-color: blueviolet; */
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.profilebody .sub-profilebody .dashboard .dashboard-main .properties .box{
    background-color: #FFFFFF;
    border: 1px solid #cdcfd5;
    position: relative;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
    width: 300px;
    /* max-width: 30%; */
    height: 200px;
    margin-top: 10px;

}
.profilebody .sub-profilebody .dashboard .dashboard-main .properties .box .text-div h1{
    margin-bottom: 0;
    font-weight: 700;
    color: #606060;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .properties .box .text-div p{
    margin-block-start: 0;
    margin-block-end: 0;
    color: #606060;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .properties .box .img-div{
    display: flex;
    justify-content: center;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .properties .box .img-div img{
    width: 70%;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .course{
    background-color: #FFFFFF;
    border: 1px solid #cdcfd5;
    position: relative;
    border-radius: 6px;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 30px;
    overflow: hidden;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .course .img-div{
    width: 35%;
    display: flex;
    align-items: center;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .course .img-div img{
    position: relative;
    width: 100%;
    height: 100%;
}


.profilebody .sub-profilebody .dashboard .dashboard-main .course .text-div{
    flex: 1 1 auto;
    padding: 20px;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .course .text-div .progress-div{
    /* background-color: blueviolet; */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .course .text-div .progress-div span{
    margin-bottom: 0;
    margin-right: 10px;
    /* color: #606060; */
}
.profilebody .sub-profilebody .dashboard .dashboard-main .course .text-div .progress-div .bar{
    position: relative;
    width: 75%;
    height: 4px;
    background: #e3e5eb;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 16px;
}
.profilebody .sub-profilebody .dashboard .dashboard-main .course .text-div .progress-div .bar .progress{
    position: relative;
    width: 20%;
    height: 4px;
    background-color: #007bff;
}








.profilebody .sub-profilebody .dashboard .profile{
    /* background-color: #007bff; */
    display: none;
    width: 100%;
}
.profilebody .sub-profilebody .dashboard .profile .data{
    margin-top: 10px;
}
.profilebody .sub-profilebody .dashboard .profile .data h2{
    margin-bottom: 0;
    font-weight: 700;
    color: #606060;
    font-size: 1.5rem;
}
.profilebody .sub-profilebody .dashboard .profile .data ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: crimson; */
    padding-inline-start: 0;
    margin: 30px 0;
}
.profilebody .sub-profilebody .dashboard .profile .data ul li{
    list-style: none;
    font-size: 18px;
    color: #606060;

}
.profilebody .sub-profilebody .dashboard .profile .data ul li:first-child{
    width: 30%;
    /* background-color: #027dff; */
}
.profilebody .sub-profilebody .dashboard .profile .data ul li:last-child{
    text-align: left;
    width: 70%;
}









.profilebody .sub-profilebody .dashboard .create-course{
    /* background-color: #027dff; */
    width: 100%;
    padding: 10px 20px;
    display: none;
}
.profilebody .sub-profilebody .dashboard .create-course h2{
    margin-bottom: 0;
    font-weight: 700;
    color: #606060;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.profilebody .sub-profilebody .dashboard .create-course form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.profilebody .sub-profilebody .dashboard .create-course form label{
    display: block;
    margin-bottom: 5px;
    margin-top: -2px;
    font-size: 12px;
    margin-left: 2px;
}
.profilebody .sub-profilebody .dashboard .create-course form input{
    height: 40px;
    width: 100%;
    display: block;
    border: 1px solid #dcdfe5;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #ffffff;
    padding: 0;
    text-indent: 15px;
    -webkit-transition: 300ms;
    transition: 300ms;
    font-size: 16px;
}
.profilebody .sub-profilebody .dashboard .create-course form input:focus{
    outline: 1px solid #007bff;
}
.profilebody .sub-profilebody .dashboard .create-course form .submit{
    width: fit-content;
    background-color: #007bff;
    color: #FFFFFF;
    text-indent: 0;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}











@media screen and (max-width: 1132px) {
    .profilebody .sub-profilebody .dashboard .dashboard-main{
        width: 70%;
    }
    .profilebody .sub-profilebody .dashboard .dashboard-nav{
        width: 30%;
    }
}

@media screen and (max-width: 994px) {
    .profilebody .sub-profilebody .dashboard .dashboard-main .properties .box{
        width: 100%;
    }

    .profilebody .sub-profilebody .dashboard .dashboard-main .course{
        flex-direction: column;
    }
    .profilebody .sub-profilebody .dashboard .dashboard-main .course .img-div{
        width: 100%;
    }
    .profilebody .sub-profilebody .dashboard .dashboard-main .upload{
        width: 90%;
    }
}

@media screen and (max-width: 756px) {
    .profilebody .sub-profilebody .dashboard{
        flex-direction: column-reverse;
        align-items: center;
    }
    .profilebody .sub-profilebody .dashboard .dashboard-main{
        width: 100%;
    }
    .profilebody .sub-profilebody .dashboard .dashboard-nav{
        width: 100%;
        justify-content: flex-start;
    }
    .profilebody .sub-profilebody .dashboard .dashboard-nav ul{
        border: 1px solid #cdcfd5;
    }
    



    .profilebody .sub-profilebody .top{
        width: 100%;
        flex-direction: column-reverse;
    }
    .profilebody .sub-profilebody .top .alert{
        width: 100%;
        margin-top: 20px;
    }
    .profilebody .sub-profilebody .top .details{
        width: 100%;
    }
}


@media screen and (max-width: 502px) {
    .profilebody .sub-profilebody .dashboard .dashboard-nav{
        width: 100%;
        justify-content: space-around;
        padding: 0;
    }
    .profilebody .sub-profilebody .dashboard .dashboard-nav ul{
        /* width: ; */
        margin-right: 0px;
    }
}