.details{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.details .sub-details{
    width: 95%;
    display: flex;
    align-items: center;
}
.details .sub-details .details-text{
    width: 48%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.details .sub-details .details-text span{
    display: block;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #027dff;
}
.details .sub-details .details-text h2{
    max-width: 700px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: 800;
    color: #221638;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
    margin-block-start: 0;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.details .sub-details .details-text  p{
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
.details .sub-details .details-box{
    width: 48%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.details .sub-details .details-box .detail-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.details .sub-details .details-box .detail-wrapper:last-child{
    margin-top: 120px;
}
.details .sub-details .details-box .detail-wrapper .card{
    background-color: #eee8e2;
    text-align: center;
    border: 1px dashed #027dff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    width: 60%;
    height: auto;
    margin: 15px 0 15px 0;
}
.details .sub-details .details-box .detail-wrapper .card h1{
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #027dff;
}
.details .sub-details .details-box .detail-wrapper .card p{
    margin-block-start: 0;
    margin-block-end: 0;
}



@media screen and (max-width: 992px){
    .details .sub-details{
        flex-direction: column;
        align-items: center;
    }
    .details .sub-details .details-box .detail-wrapper .card{
        width: 200px;
    }
    .details .sub-details .details-text{
        width: 80%;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 676px){
    .details .sub-details .details-box .detail-wrapper:last-child{
        margin-top: 0px;
    }
}
@media screen and (max-width: 640px){
    .details .sub-details .details-box{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .details .sub-details .details-text h2{
        font-size: 30px;
    }
}