.bloghead{
    display: flex;
    justify-content: center;
    background-color: #f8f9f8;
}
.bloghead .sub-bloghead{
    width: 95%;
}
.bloghead .sub-bloghead .text{
    position: relative;
    z-index: 1;
    -ms-word-break: break-all;
    word-break: break-word;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1230px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}