.bloghead{
    display: flex;
    justify-content: center;
    background-color: #f8f9f8;
}
.bloghead .sub-bloghead{
    width: 95%;
}
.bloghead .sub-bloghead .text{
    position: relative;
    z-index: 1;
    -ms-word-break: break-all;
    word-break: break-word;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 1230px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.bloghead .sub-bloghead .text h1 {
    margin-bottom: 4px;
}
.bloghead .sub-bloghead .text p {
    margin-top: 2px;
    font-size: 12px;
    cursor: pointer;
}
.bloghead .sub-bloghead .text p:hover {
    color: #007bff; 
}